Repository explosion/thinc, pull requests merged in 2020-09, with the labels that each got.

#387 fix with_cpu shape inference
  thinc/about.py
  thinc/layers/with_cpu.py
  thinc/shims/pytorch.py
Labels: bug, feat / layers

#388 nested names
  thinc/layers/residual.py
  thinc/layers/uniqued.py
  thinc/layers/with_array.py
  thinc/layers/with_debug.py
  thinc/layers/with_flatten.py
  thinc/layers/with_getitem.py
  thinc/layers/with_list.py
  thinc/layers/with_padded.py
  thinc/layers/with_ragged.py
  thinc/layers/with_reshape.py
  thinc/tests/layers/test_lstm.py
Labels: feat / layers

#389 check for conflicting promise before merging
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: bug, feat / config

#392 set_gpu_allocator
  thinc/about.py
  thinc/api.py
  thinc/backends/__init__.py
Labels: enhancement, performance

#397 Refactor ConfigValidationError and make it more extensible
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config

#398 Improve config errors
  thinc/config.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config

#399 Refactor filling and resolving config
  examples/00_intro_to_thinc.ipynb
  examples/02_transformers_tagger_bert.ipynb
  examples/03_pos_tagger_basic_cnn.ipynb
  examples/03_textcat_basic_neural_bow.ipynb
  examples/04_parallel_training_ray.ipynb
  examples/benchmarks/lstm_tagger.py
  examples/transformers_tagger.py
  thinc/about.py
  thinc/config.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/layers/test_transforms.py
  thinc/tests/test_config.py
  thinc/tests/test_initializers.py
  thinc/tests/test_loss.py
  thinc/tests/test_optimizers.py
  website/docs/api-config.md
  website/docs/api-initializers.md
  website/docs/api-loss.md
  website/docs/usage-config.md
  website/docs/usage-training.md
Labels: enhancement, feat / config

#400 Handle promises with unavailable references if resolve=False
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: bug, feat / config
