Repository explosion/thinc, pull requests merged in 2020-02, with the labels that each got.

#299 Small fixes for the optimizers
  thinc/optimizers.py
  thinc/tests/layers/test_basic_tagger.py
Labels: bug, enhancement

#300 Rename Unserializable 'data' field
  thinc/layers/concatenate.py
  thinc/layers/staticvectors.py
  thinc/types.py
Labels: feat / layers

#302 Fix ordering in list2padded op
  thinc/backends/ops.py
Labels: bug, feat / layers

#305 rename ReLu to Relu
  examples/00_intro_to_thinc.ipynb
  examples/01_intro_model_definition_methods.ipynb
  examples/03_pos_tagger_basic_cnn.ipynb
  examples/04_parallel_training_ray.ipynb
  examples/05_benchmarking_layers.ipynb
  examples/05_visualizing_models.ipynb
  examples/mnist.py
  examples/type_checking.py
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/relu.py
  thinc/model.py
  thinc/tests/layers/test_basic_tagger.py
  thinc/tests/layers/test_feed_forward.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/layers/test_mnist.py
  thinc/tests/model/test_model.py
  thinc/tests/model/test_validation.py
  thinc/tests/mypy/modules/fail_no_plugin.py
  thinc/tests/mypy/modules/fail_plugin.py
  thinc/tests/mypy/modules/success_no_plugin.py
  thinc/tests/mypy/modules/success_plugin.py
  thinc/tests/test_config.py
Labels: feat / layers

#303 Fixing StaticVectors
  thinc/layers/staticvectors.py
  thinc/model.py
Labels: bug, feat / layers

#310 Fix murmur hash on v7.x
  azure-pipelines.yml
  thinc/neural/_murmur3.cu
Labels: bug

#311 Set Embed shape to (nV, nO)
  thinc/layers/embed.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/layers/test_uniqued.py
Labels: bug, feat / layers
