Repository explosion/thinc, pull requests merged in 2020-05, with the labels that each got.

#338 add to_numpy to thinc's api
  thinc/api.py
Labels: enhancement

#345 remove graphviz from azure and skip visualizer tests
  azure-pipelines.yml
  thinc/tests/test_examples.py
Labels: tests

#346 Use thinc optimizer in Shim classes
  thinc/shims/mxnet.py
  thinc/shims/pytorch.py
  thinc/shims/tensorflow.py
  thinc/tests/layers/test_pytorch_wrapper.py
  thinc/tests/layers/test_tensorflow_wrapper.py
Labels: enhancement, interop / mxnet, interop / pytorch, interop / tensorflow

#347 fix nI in chain
  thinc/about.py
  thinc/layers/chain.py
Labels: bug, feat / layers
