Repository explosion/thinc, pull requests merged in 2020-08, with the labels that each got.

#372 Softmax init
  thinc/about.py
  thinc/api.py
  thinc/layers/softmax.py
  thinc/model.py
  thinc/tests/layers/test_layers_api.py
  thinc/util.py
Labels: enhancement, feat / layers

#370 Small edit to error msg
  thinc/config.py
Labels: enhancement, feat / ux

#373 Support extended config interpolation
  thinc/config.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config

#374 Allow config overrides on creation (and used with interpolation)
  thinc/config.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config

#375 Use "raise ... from" in custom errors for better tracebacks
  thinc/config.py
  thinc/util.py
Labels: enhancement, feat / ux

#376 Add auto-aliases for reserved field names
  thinc/config.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config

#377 Support optional variable interpolation and fix config resolution
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config

#378 Fix reporting of whether config is interpolated
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: bug, enhancement, feat / config

#379 Support custom sort in serialization methods
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config

#381 Fix pickling Config
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: bug, feat / config

#382 Support ${a.b} and ${a:b} in variables for values and sections
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config

#383 Fix flaky test with higher learning rate
  thinc/tests/layers/test_pytorch_wrapper.py
Labels: tests

#385 Support remove extra fields from config when filling
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config
