Repository explosion/thinc, pull requests merged in 2020-12, with the labels that each got.

#431 avoid initializing with Y if not necessary
  thinc/layers/parametricattention.py
  thinc/layers/residual.py
Labels: bug, feat / layers

#427 Fix relative import in tests
  thinc/tests/layers/test_uniqued.py
Labels: bug, tests

#424 Add pyproject.toml and improve CI sdist install test
  azure-pipelines.yml
  pyproject.toml
Labels: install

#418 update Model documentation
  thinc/model.py
  website/docs/api-model.md
Labels: docs

#432 Propagate dims
  thinc/layers/lstm.py
  thinc/layers/pytorchwrapper.py
  thinc/layers/with_cpu.py
  thinc/layers/with_list.py
  thinc/layers/with_padded.py
Labels: bug, feat / layers

#447 Make dataclasses work with Pydantic >= 1.7
  requirements.txt
  setup.cfg
  thinc/tests/test_config.py
Labels: enhancement, feat / config, third-party

#430 Update numpy headers and setup
  MANIFEST.in
  azure-pipelines.yml
  build-constraints.txt
  pyproject.toml
  setup.cfg
  setup.py
Labels: install

#448 Update install notes for v8
  README.md
  website/docs/_quickstart.json
  website/docs/install.md
Labels: docs
