Repository explosion/thinc, pull requests merged in 2020-07, with the labels that each got.

#357 Update textcat example to thinc==8.0.0a9
  examples/03_textcat_basic_neural_bow.ipynb
Labels: bug, examples

#360 Add overrides option to fill_config and train_from_config
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config

#361 Fix config validation error message for overrides
  thinc/config.py
Labels: bug, feat / config

#365 fix concatenate (list) on GPU
  thinc/layers/concatenate.py
Labels: bug, feat / layers

#366 robustness against empty X
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/layers/array_getitem.py
  thinc/layers/expand_window.py
  thinc/layers/hashembed.py
Labels: enhancement, feat / layers, feat / ops

#368 Fix handling of dict return values, add registry.resolve
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: bug, enhancement

#369 Config enhancements
  thinc/about.py
  thinc/config.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config
