Repository explosion/thinc, pull requests merged in 2020-01, with the labels that each got.

#202 {Ints|Floats}Xd -> ArrayXd
  examples/howto/type_chain.py
  thinc/backends/ops.py
  thinc/layers/cauchysimilarity.py
  thinc/layers/concatenate.py
  thinc/layers/embed.py
  thinc/layers/featureextractor.py
  thinc/layers/hashembed.py
  thinc/layers/layernorm.py
  thinc/layers/linear.py
  thinc/layers/list2array.py
  thinc/layers/list2ragged.py
  thinc/layers/lstm.py
  thinc/layers/maxout.py
  thinc/layers/maxpool.py
  thinc/layers/meanpool.py
  thinc/layers/mish.py
  thinc/layers/multisoftmax.py
  thinc/layers/relu.py
  thinc/layers/softmax.py
  thinc/layers/staticvectors.py
  thinc/layers/strings2arrays.py
  thinc/layers/with_list2array.py
  thinc/layers/with_reshape.py
  thinc/loss.py
  thinc/tests/test_types.py
  thinc/types.py
  thinc/util.py
Labels: enhancement, feat / types

#187 Fix python3.6 support for TensorflowWrapper
  azure-pipelines.yml
  setup.cfg
  thinc/layers/tensorflowwrapper.py
  thinc/shims/tensorflow.py
  thinc/tests/layers/test_tensorflow_wrapper.py
  thinc/util.py
Labels: feat / shims, interop / tensorflow, third-party

#203 Add partial registry functions for losses and initializers
  thinc/config.py
  thinc/initializers.py
  thinc/loss.py
  thinc/tests/test_config.py
  thinc/tests/test_initializers.py
  thinc/tests/test_loss.py
  thinc/util.py
Labels: enhancement, feat / config

#204 Various bug fixes in layers and add tests
  .gitignore
  coverage.xml
  examples/howto/define_a_model.py
  thinc/api.py
  thinc/config.py
  thinc/extra/search.pyx
  thinc/layers/__init__.py
  thinc/layers/bidirectional.py
  thinc/layers/embed.py
  thinc/layers/hashembed.py
  thinc/layers/layernorm.py
  thinc/layers/lstm.py
  thinc/layers/mish.py
  thinc/layers/parametricattention.py
  thinc/layers/recurrent.py
  thinc/layers/residual.py
  thinc/layers/sparselinear.pyx
  thinc/optimizers.pyx
  thinc/tests/layers/test_hash_embed.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/test_config.py
Labels: bug, feat / layers, tests

#206 Add transformers example
  examples/transformers_tagger.py
  thinc/api.py
  thinc/backends/_cupy_allocators.py
  thinc/backends/cupy_ops.py
  thinc/backends/ops.py
  thinc/layers/__init__.py
  thinc/layers/chain.py
  thinc/layers/list2padded.py
  thinc/layers/padded2list.py
  thinc/layers/pytorchwrapper.py
  thinc/loss.py
  thinc/schedules.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_pytorch_wrapper.py
  thinc/tests/layers/test_tensorflow_wrapper.py
  thinc/tests/test_config.py
  thinc/tests/test_loss.py
  thinc/types.py
  thinc/util.py
Labels: examples

#207 More layer tests and various bug fixes
  azure-pipelines.yml
  setup.cfg
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/add.py
  thinc/layers/chain.py
  thinc/layers/concatenate.py
  thinc/layers/foreach.py
  thinc/layers/layernorm.py
  thinc/layers/lstm.py
  thinc/layers/pytorchwrapper.py
  thinc/layers/with_getitem.py
  thinc/layers/with_reshape.py
  thinc/model.py
  thinc/tests/layers/test_combinators.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/layers/test_lstm.py
  thinc/tests/layers/test_pytorch_wrapper.py
  thinc/tests/layers/test_with_transforms.py
  thinc/tests/model/test_model.py
  thinc/util.py
Labels: bug, feat / layers, tests

#210 Add tests for x2y transforms
  thinc/api.py
  thinc/tests/layers/test_transforms.py
  thinc/tests/layers/test_with_transforms.py
  thinc/tests/util.py
Labels: feat / layers, tests

#211 fix model serialization
  thinc/model.py
Labels: bug, serialization

#212 Serializable attrs
  thinc/api.py
  thinc/model.py
  thinc/tests/test_serialize.py
Labels: enhancement, needs docs, serialization

#214 Test and fix uniqued layer
  thinc/layers/uniqued.py
  thinc/tests/layers/test_uniqued.py
Labels: bug, feat / layers, tests

#215 TensorflowWrapper changes to support mathy model
  thinc/layers/tensorflowwrapper.py
  thinc/tests/layers/test_tensorflow_wrapper.py
Labels: enhancement, interop / tensorflow

#216 Fix TensorFlow shim and tests
  thinc/model.py
  thinc/shims/tensorflow.py
  thinc/tests/layers/test_tensorflow_wrapper.py
Labels: feat / shims, interop / tensorflow, tests

#217 add cosine calculations
  thinc/backends/ops.py
Labels: enhancement, feat / ops

#201 Implement first version of mypy plugin for chain and add
  MANIFEST.in
  setup.cfg
  thinc/layers/__init__.py
  thinc/layers/add_module.py
  thinc/layers/chain_module.py
  thinc/layers/clone.py
  thinc/layers/maxout.py
  thinc/layers/mish.py
  thinc/layers/relu.py
  thinc/mypy.py
  thinc/py.typed
  thinc/tests/layers/test_combinators.py
  thinc/tests/mypy/__init__.py
  thinc/tests/mypy/configs/mypy-default.ini
  thinc/tests/mypy/configs/mypy-plugin.ini
  thinc/tests/mypy/modules/__init__.py
  thinc/tests/mypy/modules/fail_no_plugin.py
  thinc/tests/mypy/modules/fail_plugin.py
  thinc/tests/mypy/modules/success_no_plugin.py
  thinc/tests/mypy/modules/success_plugin.py
  thinc/tests/mypy/outputs/fail-no-plugin.txt
  thinc/tests/mypy/outputs/fail-plugin.txt
  thinc/tests/mypy/outputs/success-no-plugin.txt
  thinc/tests/mypy/outputs/success-plugin.txt
  thinc/tests/mypy/test_mypy.py
  thinc/types.py
Labels: enhancement, feat / types

#225 Couple of changes to PR #220 (set dropout rate)
  thinc/api.py
  thinc/model.py
  thinc/tests/model/test_model.py
  thinc/util.py
Labels: enhancement

#227 Refactor / update optimizers
  thinc/config.py
  thinc/model.py
  thinc/optimizers.py
  thinc/tests/layers/test_linear.py
  thinc/tests/layers/test_lstm.py
  thinc/tests/test_optimizers.py
Labels: enhancement, tests

#226 Fix setup.py clean
  setup.py
Labels: enhancement, install

#230 Few small fixes
  thinc/layers/maxout.py
  thinc/model.py
  thinc/util.py
Labels: bug

#223 Add textcat from config example
  examples/textcat_from_config.py
Labels: examples

#233 Have concatenate support lists
  thinc/layers/concatenate.py
Labels: enhancement, feat / layers

#235 avoid lambda and nested functions to allow pickling Model
  thinc/layers/embed.py
  thinc/layers/hashembed.py
  thinc/layers/maxout.py
  thinc/model.py
Labels: bug

#234 Update examples, add notebooks
  .gitignore
  examples/basic_pos_tagger.py
  examples/basic_pos_tagger_from_config.py
  examples/howto/define_a_model.py
  examples/howto/type_a_model.py
  examples/howto/use_a_model.py
  examples/mnist.py
  examples/mnist_from_config.py
  examples/model_with_visualization.py
  examples/notebooks/configure_gpu_memory.ipynb
  examples/notebooks/intro_model_definition_methods.ipynb
  examples/notebooks/thinc_for_beginners.ipynb
  examples/notebooks/transformers_tagger.ipynb
  examples/ray_parallel.py
  examples/requirements.txt
  examples/textcat_from_config.py
  examples/transformers_tagger.py
  examples/type_checking.py
  examples/wrap_tensorflow.py
  requirements.txt
  setup.cfg
  thinc/config.py
  thinc/optimizers.py
Labels: examples, install

#236 update requirements
  requirements.txt
Labels: install

#237 small bugfix in cupy asarray
  thinc/backends/cupy_ops.py
  thinc/backends/ops.py
  thinc/model.py
Labels: bug, feat / ops

#238 WIP: losses refactor
  examples/notebooks/transformers_tagger.ipynb
  thinc/api.py
  thinc/loss.py
  thinc/tests/test_config.py
  thinc/tests/test_loss.py
Labels: enhancement

#240 Update initializers API
  examples/notebooks/intro_model_definition_methods.ipynb
  thinc/api.py
  thinc/initializers.py
  thinc/layers/add_module.py
  thinc/layers/bidirectional.py
  thinc/layers/cauchysimilarity.py
  thinc/layers/chain_module.py
  thinc/layers/concatenate.py
  thinc/layers/embed.py
  thinc/layers/hashembed.py
  thinc/layers/layernorm.py
  thinc/layers/linear.py
  thinc/layers/lstm.py
  thinc/layers/maxout.py
  thinc/layers/mish.py
  thinc/layers/multisoftmax.py
  thinc/layers/parametricattention.py
  thinc/layers/recurrent.py
  thinc/layers/relu.py
  thinc/layers/residual.py
  thinc/layers/siamese.py
  thinc/layers/softmax.py
  thinc/layers/sparselinear.pyx
  thinc/layers/staticvectors.py
  thinc/layers/uniqued.py
  thinc/layers/with_array.py
  thinc/layers/with_getitem.py
  thinc/layers/with_list.py
  thinc/layers/with_padded.py
  thinc/layers/with_ragged.py
  thinc/layers/with_reshape.py
  thinc/model.py
  thinc/tests/test_config.py
  thinc/tests/test_initializers.py
Labels: enhancement

#241 Don't auto-init on model creation
  thinc/layers/chain_module.py
  thinc/layers/embed.py
  thinc/layers/hashembed.py
  thinc/layers/linear.py
  thinc/layers/lstm.py
  thinc/layers/maxout.py
  thinc/layers/mish.py
  thinc/layers/recurrent.py
  thinc/layers/relu.py
  thinc/layers/softmax.py
  thinc/layers/sparselinear.pyx
  thinc/tests/layers/test_feed_forward.py
  thinc/tests/layers/test_hash_embed.py
  thinc/tests/layers/test_linear.py
  thinc/tests/layers/test_lstm.py
  thinc/tests/layers/test_pytorch_wrapper.py
  thinc/tests/layers/test_sparse_linear.py
  thinc/tests/layers/test_uniqued.py
  thinc/tests/regression/test_issue208.py
  thinc/tests/test_serialize.py
  thinc/tests/util.py
Labels: enhancement, feat / layers

#242 Rename layers
  README.md
  examples/basic_pos_tagger.py
  examples/model_with_visualization.py
  examples/notebooks/intro_model_definition_methods.ipynb
  examples/textcat_from_config.py
  examples/type_checking.py
  thinc/api.py
  thinc/backends/_custom_kernels.cu
  thinc/backends/_custom_kernels.py
  thinc/backends/cupy_ops.py
  thinc/backends/numpy_ops.pxd
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/layers/__init__.py
  thinc/layers/expand_window.py
  thinc/layers/reduce_max.py
  thinc/layers/reduce_mean.py
  thinc/layers/reduce_sum.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_basic_tagger.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/mypy/modules/fail_no_plugin.py
  thinc/tests/mypy/modules/fail_plugin.py
  thinc/tests/mypy/modules/success_no_plugin.py
  thinc/tests/mypy/modules/success_plugin.py
Labels: enhancement, feat / layers

#243 Add remap_ids layer
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/remap_ids.py
  thinc/tests/layers/test_layers_api.py
Labels: enhancement, feat / layers

#244 Add with_flatten
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/with_flatten.py
Labels: enhancement, feat / layers

#239 WIP: Port over hierarchical textcat example to notebook
  examples/notebooks/textcat_hierarchical_lstm.ipynb
Labels: examples

#229 WIP: JaxOps
  azure-pipelines.yml
  examples/benchmarks/lstm_tagger.py
  setup.cfg
  thinc/api.py
  thinc/backends/__init__.py
  thinc/backends/_cupy_tensorflow_memory_pool.py
  thinc/backends/_custom_kernels.py
  thinc/backends/_param_server.py
  thinc/backends/cupy_ops.py
  thinc/backends/jax_ops.py
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/layers/__init__.py
  thinc/layers/concatenate.py
  thinc/layers/embed.py
  thinc/layers/hashembed.py
  thinc/layers/list2padded_module.py
  thinc/layers/lstm.py
  thinc/layers/relu.py
  thinc/layers/softmax.py
  thinc/layers/staticvectors.py
  thinc/layers/with_padded.py
  thinc/model.py
  thinc/optimizers.py
  thinc/shims/pytorch.py
  thinc/shims/tensorflow.py
  thinc/tests/backends/test_lstm.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_feed_forward.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/layers/test_lstm.py
  thinc/tests/model/test_jax_model.py
  thinc/tests/model/test_model.py
  thinc/tests/test_util.py
  thinc/tests/util.py
  thinc/types.py
  thinc/util.py
Labels: enhancement, feat / ops, interop / jax

#246 Fix setting chained model's output dimension
  thinc/layers/concatenate.py
Labels: bug, feat / layers

#245 Fixing ops
  thinc/backends/numpy_ops.pyx
  thinc/initializers.py
  thinc/layers/uniqued.py
  thinc/optimizers.py
Labels: bug, feat / ops

#248 Improve chain.initialize() output shape inference
  thinc/layers/chain_module.py
  thinc/optimizers.py
Labels: bug, enhancement, feat / layers

#249 restore some edits from concatenate
  thinc/layers/concatenate.py
Labels: feat / layers

#231 Merge pull request #231 from justindujardin/mathy-thinc
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/tensorflowwrapper.py
  thinc/shims/__init__.py
  thinc/shims/shim.py
  thinc/shims/tensorflow.py
  thinc/tests/layers/test_tensorflow_wrapper.py
Labels: enhancement, interop / tensorflow

#251 Fix and test losses
  thinc/api.py
  thinc/backends/jax_ops.py
  thinc/backends/ops.py
  thinc/loss.py
  thinc/tests/test_loss.py
  thinc/util.py
Labels: enhancement, feat / ops

#253 Fix data batching and remove arbitrary helper functions
  examples/00_thinc_for_beginners.ipynb
  examples/02_transformers_tagger_bert.ipynb
  examples/03_pos_tagger_basic_cnn.ipynb
  examples/03_textcat_basic_neural_bow.ipynb
  examples/04_configure_gpu_memory.ipynb
  examples/04_paralell_training_ray.ipynb
  examples/05_benchmarking_layers.ipynb
  examples/benchmarks/lstm_tagger.py
  examples/mnist.py
  examples/transformers_tagger.py
  requirements.txt
  setup.cfg
  thinc/api.py
  thinc/backends/jax_ops.py
  thinc/backends/ops.py
  thinc/layers/recurrent.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_lstm.py
  thinc/tests/layers/test_mnist.py
  thinc/tests/test_indexing.py
  thinc/tests/test_util.py
  thinc/types.py
  thinc/util.py
Labels: enhancement

#254 Slightly magical minibatching
  examples/mnist.py
  thinc/backends/ops.py
  thinc/types.py
Labels: enhancement, feat / ops

#256 Fix layernorm ini
  thinc/layers/layernorm.py
Labels: bug, feat / layers

#252 Fix errors using TensorFlowWrapper for multithreaded training
  thinc/api.py
  thinc/backends/__init__.py
  thinc/layers/tensorflowwrapper.py
  thinc/model.py
  thinc/shims/__init__.py
  thinc/shims/shim.py
  thinc/shims/tensorflow.py
  thinc/tests/layers/test_tensorflow_wrapper.py
  thinc/tests/model/test_model.py
  thinc/util.py
Labels: bug, feat / ops, interop / tensorflow, serialization

#255 Mypy plugin: chain, add, concatenate
  thinc/layers/add.py
  thinc/layers/chain.py
  thinc/layers/concatenate.py
  thinc/layers/expand_window.py
  thinc/mypy.py
  thinc/tests/mypy/modules/fail_plugin.py
  thinc/tests/mypy/outputs/fail-plugin.txt
  thinc/types.py
Labels: enhancement, interop / mypy, tests

#257 Make blis optional
  setup.cfg
  thinc/backends/cupy_ops.py
  thinc/backends/jax_ops.py
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/layers/chain.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_combinators.py
Labels: enhancement, feat / ops, install

#259 ensure adam is called with 1D arrays
  thinc/optimizers.py
Labels: bug

#260 Fix model.ops type and related issues
  thinc/backends/jax_ops.py
  thinc/backends/ops.py
  thinc/layers/concatenate.py
  thinc/layers/embed.py
  thinc/layers/expand_window.py
  thinc/layers/featureextractor.py
  thinc/layers/hashembed.py
  thinc/layers/linear.py
  thinc/layers/list2array.py
  thinc/layers/list2ragged.py
  thinc/layers/maxout.py
  thinc/layers/mish.py
  thinc/layers/multisoftmax.py
  thinc/layers/reduce_sum.py
  thinc/layers/relu.py
  thinc/layers/remap_ids.py
  thinc/layers/residual.py
  thinc/layers/softmax.py
  thinc/layers/staticvectors.py
  thinc/layers/strings2arrays.py
  thinc/layers/uniqued.py
  thinc/layers/with_array.py
  thinc/layers/with_flatten.py
  thinc/layers/with_padded.py
  thinc/layers/with_ragged.py
  thinc/model.py
Labels: bug, feat / ops, feat / types

#261 WIP: add runtime data validation
  thinc/config.py
  thinc/layers/dropout.py
  thinc/layers/sparselinear.pyx
  thinc/layers/with_getitem.py
  thinc/model.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/layers/test_linear.py
  thinc/tests/layers/test_lstm.py
  thinc/tests/model/test_validation.py
  thinc/tests/test_serialize.py
  thinc/types.py
  thinc/util.py
Labels: enhancement, feat / types, needs tests

#258 Example: counting like terms with mathy + thinc
  examples/06_predicting_like_terms.ipynb
Labels: examples

#263 Replace thread locals with contextvars
  requirements.txt
  setup.cfg
  thinc/backends/__init__.py
  thinc/layers/staticvectors.py
  thinc/model.py
  thinc/tests/model/test_model.py
  thinc/util.py
Labels: enhancement, third-party

#264 Fixes for notebook0
  examples/00_intro_to_thinc.ipynb
Labels: examples

#265 Running MNIST example with GPU
  thinc/backends/_murmur3.cu
  thinc/backends/cupy_ops.py
  thinc/backends/ops.py
  thinc/optimizers.py
  thinc/tests/model/test_model.py
Labels: bug, feat / ops

#267 Add with_debug layer
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/with_debug.py
  thinc/tests/layers/test_with_debug.py
Labels: enhancement, feat / layers, needs docs

#269 Simplify Model attrs
  examples/01_intro_model_definition_methods.ipynb
  examples/02_transformers_tagger_bert.ipynb
  examples/transformers_tagger.py
  thinc/backends/ops.py
  thinc/layers/dropout.py
  thinc/layers/embed.py
  thinc/layers/expand_window.py
  thinc/layers/featureextractor.py
  thinc/layers/hashembed.py
  thinc/layers/multisoftmax.py
  thinc/layers/pytorchwrapper.py
  thinc/layers/remap_ids.py
  thinc/layers/staticvectors.py
  thinc/layers/tensorflowwrapper.py
  thinc/layers/uniqued.py
  thinc/layers/with_array.py
  thinc/layers/with_getitem.py
  thinc/model.py
  thinc/tests/layers/test_linear.py
  thinc/tests/layers/test_pytorch_wrapper.py
  thinc/tests/layers/test_tensorflow_wrapper.py
  thinc/tests/layers/test_uniqued.py
  thinc/tests/model/test_jax_model.py
  thinc/tests/model/test_model.py
  thinc/tests/test_serialize.py
Labels: enhancement

#268 Fixing unit tests with GPU
  thinc/tests/backends/test_ops.py
  thinc/tests/model/test_validation.py
Labels: bug, tests

#273 Rename alloc methods
  examples/01_intro_model_definition_methods.ipynb
  examples/02_transformers_tagger_bert.ipynb
  examples/transformers_tagger.py
  thinc/backends/jax_ops.py
  thinc/backends/ops.py
  thinc/layers/cauchysimilarity.py
  thinc/layers/embed.py
  thinc/layers/hashembed.py
  thinc/layers/layernorm.py
  thinc/layers/multisoftmax.py
  thinc/layers/parametricattention.py
  thinc/layers/staticvectors.py
  thinc/optimizers.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_feed_forward.py
  thinc/tests/layers/test_linear.py
  thinc/tests/layers/test_tensorflow_wrapper.py
  thinc/tests/layers/test_transforms.py
  thinc/tests/layers/test_with_debug.py
  thinc/tests/layers/test_with_transforms.py
  thinc/tests/model/test_model.py
  thinc/tests/model/test_validation.py
  thinc/tests/strategies.py
  thinc/tests/test_serialize.py
Labels: feat / ops

#272 Rename registry names: v0 -> v1
  examples/benchmarks/lstm_tagger.py
  examples/transformers_tagger.py
  thinc/initializers.py
  thinc/layers/add.py
  thinc/layers/bidirectional.py
  thinc/layers/cauchysimilarity.py
  thinc/layers/chain.py
  thinc/layers/clone.py
  thinc/layers/concatenate.py
  thinc/layers/dropout.py
  thinc/layers/embed.py
  thinc/layers/expand_window.py
  thinc/layers/featureextractor.py
  thinc/layers/hashembed.py
  thinc/layers/layernorm.py
  thinc/layers/linear.py
  thinc/layers/list2array.py
  thinc/layers/list2padded.py
  thinc/layers/list2ragged.py
  thinc/layers/logistic.py
  thinc/layers/lstm.py
  thinc/layers/maxout.py
  thinc/layers/mish.py
  thinc/layers/multisoftmax.py
  thinc/layers/noop.py
  thinc/layers/padded2list.py
  thinc/layers/parametricattention.py
  thinc/layers/pytorchwrapper.py
  thinc/layers/ragged2list.py
  thinc/layers/reduce_max.py
  thinc/layers/reduce_mean.py
  thinc/layers/reduce_sum.py
  thinc/layers/relu.py
  thinc/layers/remap_ids.py
  thinc/layers/residual.py
  thinc/layers/siamese.py
  thinc/layers/softmax.py
  thinc/layers/sparselinear.pyx
  thinc/layers/staticvectors.py
  thinc/layers/strings2arrays.py
  thinc/layers/uniqued.py
  thinc/layers/with_array.py
  thinc/layers/with_flatten.py
  thinc/layers/with_getitem.py
  thinc/layers/with_list.py
  thinc/layers/with_padded.py
  thinc/layers/with_ragged.py
  thinc/layers/with_reshape.py
  thinc/loss.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/layers/test_tensorflow_wrapper.py
  thinc/tests/layers/test_transforms.py
  thinc/tests/model/test_jax_model.py
  thinc/tests/test_config.py
  thinc/tests/test_initializers.py
  thinc/tests/test_loss.py
Labels: feat / config

#275 WIP: Re-add fine-grained array types
  thinc/tests/test_types.py
  thinc/types.py
Labels: enhancement, feat / types

#276 Example: fix predict like terms dataset
  examples/06_predicting_like_terms.ipynb
Labels: examples

#277 Update to Pydantic v1.4
  requirements.txt
  setup.cfg
  thinc/config.py
  thinc/layers/chain.py
  thinc/optimizers.py
  thinc/tests/test_config.py
Labels: enhancement, feat / config, third-party

#278 Merge pull request #278 from svlandeg/fix/tests
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_mnist.py
  thinc/tests/strategies.py
Labels: tests

#279 fix rename to dropout_rate
  thinc/layers/dropout.py
  thinc/tests/layers/test_linear.py
  thinc/tests/model/test_model.py
Labels: bug, feat / layers

#280 Update docstring for Model.inc_grad()
  thinc/model.py
Labels: docs

#281 Remove type from fwd in FeatureExtractor
  thinc/layers/featureextractor.py
Labels: feat / types

#284 Merge pull request #284 from justindujardin/feature/better-type-errors
  examples/type_checking.py
  thinc/mypy.py
  thinc/tests/mypy/outputs/fail-plugin.txt
  thinc/tests/mypy/test_mypy.py
Labels: feat / types, interop / mypy

#285 Fixes for notebook01
  examples/00_intro_to_thinc.ipynb
  examples/01_intro_model_definition_methods.ipynb
  examples/02_transformers_tagger_bert.ipynb
  examples/03_textcat_basic_neural_bow.ipynb
Labels: examples

#287 Fix notebook 04 & 05
  examples/02_transformers_tagger_bert.ipynb
  examples/03_pos_tagger_basic_cnn.ipynb
  examples/04_configure_gpu_memory.ipynb
  examples/04_parallel_training_ray.ipynb
  examples/05_benchmarking_layers.ipynb
  examples/05_visualizing_models.ipynb
  examples/06_predicting_like_terms.ipynb
Labels: examples

#286 Add array getitem
  thinc/api.py
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/config.py
  thinc/layers/__init__.py
  thinc/layers/array_getitem.py
  thinc/layers/embed.py
  thinc/layers/hashembed.py
  thinc/layers/staticvectors.py
  thinc/tests/layers/test_hash_embed.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/layers/test_uniqued.py
Labels: enhancement, feat / layers

#283 Feature: MXNet shim
  azure-pipelines.yml
  setup.cfg
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/mxnetwrapper.py
  thinc/shims/__init__.py
  thinc/shims/mxnet.py
  thinc/tests/layers/test_mxnet_wrapper.py
  thinc/util.py
Labels: enhancement, interop / mxnet

#289 tiny readme fixes
  README.md
Labels: docs

#288 Bugfix/ragged ints
  thinc/backends/ops.py
  thinc/layers/bidirectional.py
  thinc/layers/featureextractor.py
  thinc/layers/list2ragged.py
  thinc/layers/ragged2list.py
  thinc/layers/reduce_max.py
  thinc/layers/reduce_mean.py
  thinc/layers/reduce_sum.py
  thinc/layers/with_array.py
  thinc/layers/with_list.py
  thinc/layers/with_padded.py
  thinc/layers/with_ragged.py
  thinc/tests/model/test_model.py
  thinc/types.py
Labels: bug

#291 Use MXNet forward reference type to avoid requiring it
  thinc/shims/mxnet.py
Labels: bug, interop / mxnet

#293 Use site (site-packages) to detect how to run mypy tests
  thinc/tests/mypy/test_mypy.py
Labels: interop / mypy, tests

#295 fix and cleanup like-terms notebook
  examples/06_predicting_like_terms.ipynb
Labels: bug, examples

#298 fix issue where GPU model couldn't be serialized
  thinc/model.py
Labels: bug, serialization
