Repository explosion/thinc, pull requests merged in 2020-03, with the labels that each got.

#316 Fix CI build on Windows
  azure-pipelines.yml
Labels: install, interop / mxnet

#315 init instead of _init
  .gitignore
  thinc/model.py
  thinc/tests/layers/test_feed_forward.py
  thinc/tests/layers/test_uniqued.py
Labels: enhancement

#314 Example Notebook: Make sure data is on the right device after loading from config
  examples/00_intro_to_thinc.ipynb
Labels: examples

#317 WIP: Small fixes
  thinc/api.py
  thinc/layers/add.py
  thinc/layers/concatenate.py
  thinc/layers/hashembed.py
Labels: enhancement, feat / layers, ⚠️ wip

#325 chore: update mac os images on azure
  azure-pipelines.yml
Labels: enhancement, install

#326 Add softmax activation
  thinc/about.py
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/softmax_activation.py
Labels: enhancement, feat / layers

#324 set nI/nO on chained models
  thinc/layers/chain.py
Labels: enhancement, feat / layers

#329 multiply by drop_mask in staticvectors.backprop
  thinc/layers/staticvectors.py
Labels: bug, feat / layers

#327 with_cpu
  thinc/about.py
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/sparselinear.pyx
  thinc/layers/with_cpu.py
  thinc/model.py
Labels: enhancement, feat / layers
