Repository explosion/thinc, pull requests merged in 2021-05, with the labels that each got.

#492 Fix backprop in with_getitem
  thinc/layers/with_getitem.py
Labels: bug, feat / layers

#498 Skip tests if packages are missing
  thinc/tests/layers/test_basic_tagger.py
  thinc/tests/layers/test_mnist.py
  thinc/tests/model/test_model.py
  thinc/tests/mypy/test_mypy.py
  thinc/tests/test_examples.py
Labels: tests

#490 Add tuplify
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/tuplify.py
  thinc/tests/layers/test_combinators.py
  website/docs/api-layers.md
Labels: enhancement, feat / layers

#495 Avoid concatting `None` gradient
  thinc/layers/concatenate.py
Labels: bug, feat / layers

#491 Resizable container & force set_dim
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/resizable.py
  thinc/model.py
  thinc/tests/model/test_model.py
  website/docs/api-layers.md
  website/docs/api-model.md
Labels: enhancement
