Repository explosion/thinc, pull requests merged in 2021-08, with the labels that each got.

#521 Fix numpy_ops gemm output semantics when BLIS is used
  thinc/backends/numpy_ops.pyx
  thinc/tests/backends/test_ops.py
Labels: bug, feat / ops

#520 Add ops registry
  thinc/backends/__init__.py
  thinc/backends/cupy_ops.py
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/config.py
  thinc/tests/backends/test_ops.py
  thinc/types.py
Labels: feat / ops

#525 🐛 Fix Mypy plugin crash on variadic arguments
  requirements.txt
  thinc/mypy.py
  thinc/tests/regression/issue519/__init__.py
  thinc/tests/regression/issue519/program.py
  thinc/tests/regression/issue519/test_issue519.py
Labels: bug, feat / types

#526 Add context manager and layer wrapper for marking NVTX ranges
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/with_nvtx_range.py
  thinc/util.py
  website/docs/api-layers.md
Labels: enhancement, feat / layers
