Repository explosion/thinc, pull requests merged in 2021-01, with the labels that each got.

#452 Fix radam
  thinc/optimizers.py
Labels: bug, feat / optimizers

#453 fix ResourceWarning for opening a file without explicitly closing it
  thinc/backends/_custom_kernels.py
Labels: bug

#464 Fix list2padded op
  thinc/backends/ops.py
  thinc/tests/layers/test_with_transforms.py
  thinc/types.py
Labels: bug, feat / layers
