Repository explosion/thinc, pull requests merged in 2022-08, with the labels that each got.

#711 Add `with_signpost_interval` layer
  thinc/api.py
  thinc/compat.py
  thinc/layers/__init__.py
  thinc/layers/with_signpost_interval.py
  website/docs/api-layers.md
Labels: enhancement, performance, feat / layers

#733 Docs: Fix/update `label_smoothing` description
  website/docs/api-loss.md
  website/docs/api-util.md
Labels: docs

#719 Add Dish activation
  thinc/api.py
  thinc/backends/_custom_kernels.cu
  thinc/backends/_custom_kernels.py
  thinc/backends/cupy_ops.py
  thinc/backends/ops.py
  thinc/layers/__init__.py
  thinc/layers/dish.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_layers_api.py
  website/docs/api-backends.md
  website/docs/api-layers.md
Labels: enhancement, feat / ops

#743 Remove `thinc.extra.search` module and related tests
  setup.py
  thinc/extra/__init__.pxd
  thinc/extra/__init__.py
  thinc/extra/search.pxd
  thinc/extra/search.pyx
  thinc/extra/tests/__init__.py
  thinc/extra/tests/c_test_search.pyx
  thinc/tests/extra/__init__.py
  thinc/tests/extra/test_beam_search.py
Labels: 🔜 v9.0

#745 Use confection for configurations
  requirements.txt
  setup.cfg
  thinc/config.py
  thinc/tests/test_config.py
  website/docs/usage-config.md
Labels: feat / config

#746 `PyTorchGradScaler`: Cache `_found_inf` on the CPU
  thinc/shims/pytorch_grad_scaler.py
Labels: performance, feat / shims, interop / pytorch
