Repository explosion/thinc, pull requests merged in 2022-06, with the labels that each got.

#686 xp2{tensorflow,torch}: convert NumPy arrays using dlpack
  thinc/util.py
Labels: enhancement, interop / tensorflow, interop / pytorch

#685 Add support for PyTorch Metal Performance Shaders
  thinc/api.py
  thinc/backends/__init__.py
  thinc/backends/cupy_ops.py
  thinc/backends/mps_ops.py
  thinc/compat.py
  thinc/tests/layers/test_pytorch_wrapper.py
  thinc/tests/regression/test_issue564.py
  thinc/tests/shims/test_pytorch_grad_scaler.py
  thinc/util.py
Labels: enhancement, performance, interop / pytorch

#697 `NumpyOps`: Do not use global for `CBlas`
  thinc/backends/numpy_ops.pyx
Labels: feat / ops

#700 Make `CBlas` methods standalone functions to avoid using vtables
  thinc/backends/cblas.pxd
  thinc/backends/cblas.pyx
Labels: feat / ops

#696 Speed up HashEmbed layer by avoiding large temporary arrays
  thinc/backends/_custom_kernels.cu
  thinc/backends/_custom_kernels.py
  thinc/backends/cblas.pxd
  thinc/backends/cblas.pyx
  thinc/backends/cpu_kernels.hh
  thinc/backends/cupy_ops.py
  thinc/backends/numpy_ops.pxd
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/layers/hashembed.py
  thinc/tests/backends/test_ops.py
  website/docs/api-backends.md
Labels: enhancement, performance, feat / ops
