Repository explosion/thinc, pull requests merged in 2022-05, with the labels that each got.

#649 Clamp inputs in `Ops.sigmoid` to prevent overflow
  thinc/backends/ops.py
Labels: enhancement, feat / ops

#646 Sanity checks for GPU tests, 3rd party framework tensor conversion changes
  thinc/backends/cupy_ops.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_tensorflow_wrapper.py
  thinc/types.py
  thinc/util.py
Labels: enhancement, feat / ops

#651 Fix type safety issue with model ID assignment
  thinc/model.py
Labels: bug

#650 Check Ops.sigmoid against PyTorch
  thinc/backends/ops.py
  thinc/layers/sigmoid.py
  thinc/tests/backends/test_ops.py
Labels: tests, feat / ops

#637 Fix reductions when applied to zero-length sequences
  thinc/backends/_custom_kernels.py
  thinc/backends/cpu_kernels.hh
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/tests/backends/test_ops.py
  website/docs/api-backends.md
  website/docs/api-layers.md
Labels: bug, feat / ops

#599 Add bound types throughout layers and Ops
  azure-pipelines.yml
  requirements.txt
  setup.cfg
  thinc/backends/ops.py
  thinc/config.py
  thinc/layers/array_getitem.py
  thinc/layers/cauchysimilarity.py
  thinc/layers/chain.py
  thinc/layers/concatenate.py
  thinc/layers/dropout.py
  thinc/layers/embed.py
  thinc/layers/expand_window.py
  thinc/layers/hashembed.py
  thinc/layers/list2array.py
  thinc/layers/list2padded.py
  thinc/layers/list2ragged.py
  thinc/layers/lstm.py
  thinc/layers/maxout.py
  thinc/layers/padded2list.py
  thinc/layers/ragged2list.py
  thinc/layers/reduce_first.py
  thinc/layers/reduce_last.py
  thinc/layers/residual.py
  thinc/layers/resizable.py
  thinc/layers/siamese.py
  thinc/layers/sigmoid_activation.py
  thinc/layers/tuplify.py
  thinc/layers/with_array.py
  thinc/layers/with_array2d.py
  thinc/layers/with_flatten.py
  thinc/layers/with_list.py
  thinc/layers/with_padded.py
  thinc/layers/with_ragged.py
  thinc/layers/with_reshape.py
  thinc/loss.py
  thinc/types.py
  thinc/util.py
  website/docs/api-layers.md
Labels: enhancement, feat / types

#652 Move compatiblity-related code into a separate `compat` module
  thinc/api.py
  thinc/backends/__init__.py
  thinc/backends/_cupy_allocators.py
  thinc/backends/_custom_kernels.py
  thinc/backends/cupy_ops.py
  thinc/compat.py
  thinc/layers/tensorflowwrapper.py
  thinc/shims/mxnet.py
  thinc/shims/pytorch.py
  thinc/shims/pytorch_grad_scaler.py
  thinc/shims/tensorflow.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/layers/test_lstm.py
  thinc/tests/layers/test_mnist.py
  thinc/tests/layers/test_mxnet_wrapper.py
  thinc/tests/layers/test_pytorch_wrapper.py
  thinc/tests/layers/test_tensorflow_wrapper.py
  thinc/tests/model/test_model.py
  thinc/tests/regression/test_issue564.py
  thinc/tests/shims/test_pytorch_grad_scaler.py
  thinc/types.py
  thinc/util.py
  website/docs/api-util.md
Labels: enhancement

#643 NumpyOps: Add a method to get a table of C BLAS functions
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
  thinc/backends/cblas.pxd
  thinc/backends/cblas.pyx
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  website/docs/api-backends.md
Labels: enhancement, feat / ops

#656 NumpyOps: Better type-casting in `asarray`
  thinc/backends/numpy_ops.pyx
Labels: feat / types, feat / ops

#664 Fix out-of-bounds writes in NumpyOps/CupyOps
  thinc/backends/cupy_ops.py
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/tests/backends/test_ops.py
Labels: enhancement, feat / ops

#659 Fix model.copy() bug where layer used more than once
  thinc/model.py
  thinc/tests/model/test_model.py
Labels: bug, serialization

#672 Add support for bot-invoked slow tests
  .github/workflows/explosionbot.yml
Labels: tests

#677 `Shim`: Fix potential data race when allocated on different threads
  thinc/shims/shim.py
Labels: bug

#676 Fix two warnings
  thinc/backends/ops.py
  thinc/tests/backends/test_ops.py
Labels: feat / ops

#675 Replace use of gpu_is_available with has_cupy_gpu
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_tensorflow_wrapper.py
  thinc/tests/model/test_model.py
  thinc/util.py
Labels: enhancement

#671 Fixes for slow tests
  thinc/compat.py
  thinc/tests/layers/test_basic_tagger.py
  thinc/tests/layers/test_mnist.py
  thinc/tests/regression/issue519/program.py
  thinc/tests/regression/issue519/test_issue519.py
Labels: tests

#681 test_ops: do not lower precision in conversion to Torch tensor
  thinc/tests/backends/test_ops.py
Labels: bug, tests
