Repository explosion/thinc, pull requests merged in 2022-09, with the labels that each got.

#726 More general remap_ids
  thinc/layers/__init__.py
  thinc/layers/remap_ids.py
  thinc/tests/layers/test_layers_api.py
  website/docs/api-layers.md
Labels: enhancement, feat / layers

#757 `util`: Explicitly call `__dlpack__` built-in method in `xp2tensorflow`
  thinc/util.py
Labels: bug, feat / shims, interop / tensorflow

#764 Merge `master` into `v9`
  README.md
  azure-pipelines.yml
  requirements.txt
  setup.cfg
  thinc/about.py
  thinc/config.py
  thinc/layers/__init__.py
  thinc/layers/remap_ids.py
  thinc/shims/pytorch_grad_scaler.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/test_config.py
  thinc/util.py
  website/docs/api-layers.md
  website/docs/usage-config.md
  website/src/pages/index.js
Labels: 🔜 v9.0

#756 Update code example for Ragged
  website/docs/usage-sequences.md
Labels: docs, examples

#748 Register fix_random_seed as a pytest-randomly entry point
  setup.cfg
Labels: enhancement

#740 Update cupy extras, quickstart
  setup.cfg
  website/docs/_quickstart.json
Labels: install

#760 `NumpyOps` cleanup
  thinc/backends/numpy_ops.pyx
Labels: feat / ops, 🔜 v9.0

#769 disable mypy run for Python 3.10 (v9)
  azure-pipelines.yml
Labels: tests

#742 Remove vestigial/mostly unused `backends.linalg` module
  setup.py
  thinc/backends/cblas.pxd
  thinc/backends/cblas.pyx
  thinc/backends/linalg.pxd
  thinc/backends/linalg.pyx
  thinc/backends/numpy_ops.pyx
Labels: feat / ops, 🔜 v9.0

#763 Standardize `blis` calls in `NumpyOps`
  thinc/backends/cblas.pxd
  thinc/backends/cblas.pyx
  thinc/backends/numpy_ops.pyx
  thinc/compat.py
Labels: feat / ops, 🔜 v9.0
