Repository explosion/thinc, pull requests merged in 2022-07, with the labels that each got.

#714 Increase test deadline to 30 minutes to prevent spurious test failures
  thinc/tests/conftest.py
Labels: tests

#717 `test_mxnet_wrapper`: Feature-gate GPU test
  thinc/tests/layers/test_mxnet_wrapper.py
Labels: tests

#710 Add Ops.reduce_{first,last} plus tests
  thinc/backends/ops.py
  thinc/layers/reduce_first.py
  thinc/layers/reduce_last.py
  thinc/tests/backends/test_ops.py
  website/docs/api-backends.md
Labels: enhancement, feat / ops

#720 Ops: replace FloatsType by constrained typevar
  thinc/backends/ops.py
  thinc/layers/sigmoid_activation.py
  thinc/types.py
Labels: enhancement, feat / types

#702 Unroll `argmax` in `maxout` for small sizes of `P`
  setup.py
  thinc/backends/cpu_kernels.hh
Labels: enhancement, performance, feat / ops
