Repository explosion/thinc, pull requests merged in 2022-12, with the labels that each got.

#810 Sync `master` into `v9`
  .github/workflows/autoblack.yml
  .github/workflows/explosionbot.yml
  azure-pipelines.yml
  requirements.txt
  thinc/api.py
  thinc/backends/ops.py
  thinc/layers/__init__.py
  thinc/layers/sparselinear.pyx
  thinc/layers/torchscriptwrapper.py
  thinc/loss.py
  thinc/shims/__init__.py
  thinc/shims/torchscript.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/layers/test_softmax.py
  thinc/tests/layers/test_sparse_linear.py
  thinc/tests/layers/test_torchscriptwrapper.py
  thinc/types.py
  website/docs/api-layers.md
  website/docs/api-model.md
  website/docs/usage-frameworks.md
Labels: meta

#813 Extend to wasabi v1.1
  requirements.txt
  setup.cfg
Labels: enhancement

#796 `PyTorchShim`: Add serde callbacks to facilitate lazy loading models
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/pytorchwrapper.py
  thinc/shims/pytorch.py
  thinc/tests/layers/test_pytorch_wrapper.py
Labels: feat / shims, serialization

#819 Fix primitive sequence types passed to asarray*()
  thinc/backends/ops.py
Labels: bug, feat / types

#812 Update CupyOps.asarray to always copy cupy arrays to the current device
  thinc/backends/cupy_ops.py
Labels: bug, feat / ops

#808 Make all layer defaults serializable
  thinc/layers/clipped_linear.py
  thinc/layers/dish.py
  thinc/layers/embed.py
  thinc/layers/gelu.py
  thinc/layers/hard_swish.py
  thinc/layers/hard_swish_mobilenet.py
  thinc/layers/hashembed.py
  thinc/layers/linear.py
  thinc/layers/lstm.py
  thinc/layers/maxout.py
  thinc/layers/mish.py
  thinc/layers/relu.py
  thinc/layers/sigmoid.py
  thinc/layers/softmax.py
  thinc/layers/swish.py
  thinc/tests/layers/test_layers_api.py
  website/docs/api-layers.md
Labels: bug, feat / layers, feat / config

#804 Give schedules access to the key, step, and last eval score
  thinc/api.py
  thinc/optimizers.py
  thinc/schedules.py
  thinc/tests/test_config.py
  thinc/tests/test_optimizers.py
  thinc/tests/test_schedules.py
  website/docs/api-optimizers.md
  website/docs/api-schedules.md
  website/docs/usage-config.md
  website/docs/usage-training.md
Labels: enhancement, feat / optimizers, 🔜 v9.0

#827 Update Gatsby
  website/.nvmrc
  website/README.md
  website/docs/usage-type-checking.md
  website/gatsby-config.js
  website/gatsby-node.js
  website/package-lock.json
  website/package.json
  website/src/components/box.js
  website/src/components/code.js
  website/src/components/dropdown.js
  website/src/components/footer.js
  website/src/components/grid.js
  website/src/components/icon.js
  website/src/components/landing.js
  website/src/components/link.js
  website/src/components/quickstart.js
  website/src/components/sidebar.js
  website/src/components/table.js
  website/src/components/tabs.js
  website/src/components/tutorials.js
  website/src/components/typography.js
  website/src/pages/404.js
  website/src/pages/index.js
  website/src/styles/code.module.sass
  website/src/templates/docs.js
Labels: docs
