Repository explosion/thinc, pull requests merged in 2022-03, with the labels that each got.

#601 Fix Ops.backprop_reduce_max
  thinc/backends/ops.py
  thinc/tests/backends/test_ops.py
Labels: bug, feat / ops

#572 Add assert that size hasn't changed for reduce mean backprop
  thinc/layers/cauchysimilarity.py
  thinc/layers/reduce_first.py
  thinc/layers/reduce_last.py
  thinc/layers/reduce_max.py
  thinc/layers/reduce_mean.py
  thinc/layers/reduce_sum.py
  thinc/layers/softmax.py
  thinc/tests/layers/test_reduce.py
  thinc/tests/layers/test_reduce_first_last.py
  thinc/util.py
Labels: feat / layers, feat / ux

#604 Documentation updates
  website/docs/api-backends.md
  website/docs/api-layers.md
Labels: docs

#595 Label-smoothing
  thinc/loss.py
  thinc/tests/test_loss.py
  thinc/tests/test_util.py
  thinc/util.py
  website/docs/api-loss.md
Labels: enhancement, feat / loss

#612 Limit pytest >=5.2.0,<7.1.0
  requirements.txt
Labels: tests

#610 Torch backwards compatibility fixes
  setup.cfg
  thinc/shims/pytorch.py
  thinc/shims/pytorch_grad_scaler.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_pytorch_wrapper.py
  thinc/tests/shims/test_pytorch_grad_scaler.py
  thinc/util.py
Labels: interop / pytorch

#603 custom_kernels: make all CUDA kernels generic
  thinc/backends/_custom_kernels.cu
  thinc/backends/_custom_kernels.py
  thinc/backends/cupy_ops.py
  thinc/backends/ops.py
  thinc/tests/backends/test_ops.py
Labels: enhancement, feat / ops

#624 Mixed-precision training: improve checks
  thinc/shims/pytorch.py
  thinc/shims/pytorch_grad_scaler.py
  thinc/tests/layers/test_pytorch_wrapper.py
  thinc/tests/shims/test_pytorch_grad_scaler.py
Labels: feat / shims, interop / pytorch

#618 NumpyOps: add bound checks
  thinc/backends/numpy_ops.pxd
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/tests/backends/test_ops.py
Labels: enhancement, feat / ops

#626 test end-of-life Python 3.6 on windows-2019 image
  azure-pipelines.yml
Labels: tests

#573 Do not use an explicit loop in unflatten
  thinc/backends/ops.py
Labels: enhancement, performance, feat / ops

#625 Lstm benchmark example fix
  examples/benchmarks/lstm_tagger.py
Labels: bug, examples
