Repository explosion/thinc, pull requests merged in 2022-04, with the labels that each got.

#627 Make NumpyOps CPU kernels generic
  MANIFEST.in
  setup.py
  thinc/backends/cpu_kernels.hh
  thinc/backends/numpy_ops.pxd
  thinc/backends/numpy_ops.pyx
  thinc/tests/backends/test_ops.py
Labels: enhancement, feat / ops

#632 Reduce unnecessary zero-init'd allocations
  thinc/backends/_custom_kernels.py
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  website/docs/api-backends.md
Labels: enhancement, feat / ops

#634 Doc fixes
  website/docs/usage-frameworks.md
  website/docs/usage-training.md
Labels: docs

#638 Fix broken link to `backends` in README.md
  README.md
Labels: docs

#636 Revert uninit'd allocs in `Numpy.reduce_max` introduced in #632.
  thinc/backends/numpy_ops.pyx
  thinc/tests/backends/test_ops.py
Labels: bug, feat / ops

#639 Fix PyTorch tensor handling in `CupyOps.asarray`
  thinc/backends/cupy_ops.py
  thinc/tests/regression/test_issue564.py
Labels: bug, feat / shims, feat / ops

#633 search.Beam: Fix invalid indexing
  thinc/extra/search.pyx
Labels: bug, feat / beam
