Repository explosion/thinc, pull requests merged in 2022-02, with the labels that each got.

#580 Remove deadline of test_scale_random_inputs
  thinc/tests/shims/test_pytorch_grad_scaler.py
Labels: bug, tests

#579 Speed up maxout by exploiting parallelism better
  thinc/backends/_custom_kernels.cu
  thinc/tests/backends/test_ops.py
Labels: performance, feat / ops

#586 Fix typos
  examples/01_intro_model_definition_methods.ipynb
  examples/03_pos_tagger_basic_cnn.ipynb
  thinc/backends/_custom_kernels.cu
  thinc/backends/numpy_ops.pyx
  thinc/config.py
  thinc/mypy.py
  thinc/tests/shims/test_pytorch_grad_scaler.py
  thinc/tests/test_config.py
  website/docs/api-backends.md
  website/docs/usage-config.md
Labels: enhancement

#583 Add the `normalize` option to the Softmax layer
  thinc/api.py
  thinc/layers/__init__.py
  thinc/layers/softmax.py
  thinc/tests/layers/test_layers_api.py
  thinc/tests/layers/test_softmax.py
  website/docs/api-layers.md
Labels: performance, feat / layers

#582 Add support for Ragged to expand_window.v1
  thinc/layers/expand_window.py
  thinc/tests/layers/test_layers_api.py
Labels: enhancement, feat / layers

#590 Update example-notebook
  examples/00_intro_to_thinc.ipynb
  examples/01_intro_model_definition_methods.ipynb
  examples/02_transformers_tagger_bert.ipynb
  examples/03_pos_tagger_basic_cnn.ipynb
  examples/03_textcat_basic_neural_bow.ipynb
  examples/04_configure_gpu_memory.ipynb
  examples/04_parallel_training_ray.ipynb
  examples/05_benchmarking_layers.ipynb
  examples/05_visualizing_models.ipynb
  examples/06_predicting_like_terms.ipynb
Labels: enhancement, examples

#591 Fix typo in backends docs
  website/docs/api-backends.md
Labels: docs

#578 Improve mish activation, test against PyTorch
  thinc/backends/_custom_kernels.cu
  thinc/backends/_custom_kernels.py
  thinc/backends/cupy_ops.py
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/tests/backends/test_ops.py
Labels: enhancement, feat / ops

#589 Softmax_v2: add support for softmax with temperature
  thinc/backends/ops.py
  thinc/layers/softmax.py
  thinc/tests/backends/test_ops.py
  thinc/tests/layers/test_softmax.py
  website/docs/api-layers.md
Labels: enhancement, feat / layers

#588 Simplify to_categorical
  thinc/util.py
Labels: enhancement

#594 Config: do not sort positional arguments
  thinc/config.py
  thinc/tests/test_config.py
Labels: bug, feat / config

#577 Add kernels for GELU, Swish, and clipped_linear
  thinc/backends/_custom_kernels.cu
  thinc/backends/_custom_kernels.py
  thinc/backends/cupy_ops.py
Labels: enhancement, feat / ops

#584 Always serialize Model numpy data with little endian byte order
  thinc/backends/cupy_ops.py
  thinc/backends/ops.py
  thinc/model.py
  thinc/tests/backends/test_ops.py
  website/docs/api-backends.md
Labels: serialization, feat / ops
