Repository explosion/thinc, pull requests merged in 2022-10, with the labels that each got.

#779 Support both Python 3.6 and Pydantic 1.10
  requirements.txt
  setup.cfg
Labels: install, third-party

#776 update to latest mypy and exclude Python 3.6
  azure-pipelines.yml
  requirements.txt
  thinc/backends/ops.py
  thinc/initializers.py
  thinc/layers/hashembed.py
  thinc/tests/layers/test_mxnet_wrapper.py
  thinc/types.py
Labels: bug, tests, feat / types

#785 Revert return type for Ops.alloc to Any
  thinc/backends/ops.py
Labels: feat / types

#790 Skip mypy tests for non-compiled mypy
  requirements.txt
  thinc/tests/mypy/test_mypy.py
Labels: tests, feat / types

#780 Make __all__ static to support type checking
  azure-pipelines.yml
  setup.cfg
  thinc/__init__.py
  thinc/api.py
  thinc/compat.py
  thinc/config.py
  thinc/layers/__init__.py
  thinc/shims/__init__.py
  thinc/tests/test_import__all__.py
  thinc/util.py
Labels: enhancement, tests, feat / types

#784 Sync v9 with the latest from master
  azure-pipelines.yml
  pyproject.toml
  requirements.txt
  setup.cfg
  thinc/__init__.py
  thinc/about.py
  thinc/api.py
  thinc/backends/ops.py
  thinc/compat.py
  thinc/config.py
  thinc/initializers.py
  thinc/layers/__init__.py
  thinc/layers/hashembed.py
  thinc/shims/__init__.py
  thinc/tests/layers/test_mxnet_wrapper.py
  thinc/tests/mypy/test_mypy.py
  thinc/tests/test_import__all__.py
  thinc/types.py
  thinc/util.py
  website/docs/_quickstart.json
  website/docs/usage-sequences.md
Labels: meta

#647 Cross entropy fix
  examples/mnist.py
  thinc/legacy/__init__.py
  thinc/legacy/loss.py
  thinc/loss.py
  thinc/tests/test_loss.py
  thinc/util.py
Labels: bug, feat / loss
