Repository explosion/thinc, pull requests merged in 2023-08, with the labels that each got.

#890 Import mxnet and tensorflow only if explicitly enabled
  .github/workflows/tests.yml
  examples/00_intro_to_thinc.ipynb
  thinc/api.py
  thinc/backends/_cupy_allocators.py
  thinc/compat.py
  thinc/layers/tensorflowwrapper.py
  thinc/shims/mxnet.py
  thinc/shims/tensorflow.py
  thinc/tests/enable_mxnet.py
  thinc/tests/enable_tensorflow.py
  thinc/util.py
  website/docs/api-layers.md
  website/docs/api-util.md
  website/docs/usage-frameworks.md
Labels: feat / shims

#882 Support zero-length batches and hidden sizes in reduce_{max,mean,sum}
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/tests/backends/test_ops.py
  website/docs/api-backends.md
Labels: bug, feat / ops

#895 Update develop from master for v8.2
  requirements.txt
  setup.cfg
  thinc/backends/numpy_ops.pyx
  thinc/backends/ops.py
  thinc/tests/backends/test_ops.py
  thinc/tests/test_config.py
  thinc/tests/test_types.py
  thinc/util.py
  website/docs/api-backends.md
Labels: 🔜v8.2

#897 Preserve values with dtype for NumpyOps/CupyOps.asarray
  thinc/backends/cupy_ops.py
  thinc/backends/numpy_ops.pyx
  thinc/layers/strings2arrays.py
  thinc/tests/backends/test_ops.py
Labels: bug, feat / ops

#900 Set version to v8.2.0
  thinc/about.py
Labels: 🔜v8.2
