Repository explosion/thinc, pull requests merged in 2023-03, with the labels that each got.

#856 Skip test_lstm_forward_training_fuzz on aarch64
  thinc/tests/backends/test_ops.py
Labels: tests

#858 Model.begin_update: fix type signature
  thinc/model.py
Labels: bug, feat / types

#866 CI: Allow newest supported torch in extra tests
  .github/workflows/tests.yml
  azure-pipelines.yml
Labels: tests, interop / pytorch

#863 Improve exception when CuPy/PyTorch MPS is not installed
  thinc/compat.py
  thinc/util.py
Labels: enhancement

#864 Directly loading a TorchScript model onto an MPS device is not supported
  thinc/shims/torchscript.py
Labels: bug, feat / shims, interop / pytorch
